.App {
  text-align: left;
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Instructions-box {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: #eeeeee;
  width: 325px;
  margin-right: 15px;
  vertical-align: top;
  height: 300px;
}

.Place-selector-box {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: #eeeeee;
  width: 325px;
  height: 300px;
}

.Place-selector-sidebox {
  display: inline-block;
}

.Place-selector-sidebox-right {
  float: right;
  margin: 30px 0;
}

.Lat-lng-textbox {
  width: 100px;
}

.Lat-lng-label {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  width: 80px;
}

.Suntime-display-box {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: 830px;
  background-color: #eeeeee;
}